<style>

.active-route {
    background: black;
    border-bottom: 2px solid red;      
}

</style>
<div class="sidebar" data-color="white" data-active-color="danger">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
      -->
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            <div class="logo-image-small">
              <img src="/assets/dashboard/assets/img/store-logo.jpg">
            </div>
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Store
            <!-- <div class="logo-image-big">
              <img src="../assets/img/logo-big.png">
            </div> -->
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li>
              <a [routerLink]="'/admin/dashboard'">
                <i class="nc-icon nc-bank"></i>
                <p>Dashboard</p>
              </a>
            </li>
                 
            <li>
              <a [routerLink]="'/admin/customer'">
                <i class="nc-icon nc-single-02"></i>
                <p>Manage Customer</p>
              </a>
            </li>
            <li>
              <a [routerLink]="'/admin/category'">
                <i class="nc-icon nc-tile-56"></i>
                <p> Manage Category</p>
              </a>
            </li>
            <li>
              <a [routerLink]="'/admin/products'">
                <i class="nc-icon nc-bag-16"></i>
                <p> Manage Products</p>
              </a>
            </li>
           
          </ul>
        </div>
      </div>