<div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> New Customers</h4>
                <!--<p>{{customerArr | json}}<p>-->
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th> Id</th>
                      <th> Name </th>
                      <th> Email </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let itm of customerArr">
                        <td> {{itm.customer_id}} </td>
                        <td> {{itm.first_name + " "+ itm.last_name}} </td>
                        <td> {{itm.email}} </td>
                      </tr>  
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
         
        </div>