 
 <div class="row">
          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let productArrByIdItem of productArrById">
            <div class="card h-100">
              <a href="javascript:void(0)"><img class="card-img-top" [src]="productArrByIdItem.product_image" alt="" (click)="navigateProductUrl(productArrByIdItem.id)"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="javascript:void(0)" (click)="navigateProductUrl(productArrByIdItem.id)">{{productArrByIdItem.productname}}</a>
                </h4>
                <h5>{{productArrByIdItem.product_price | currency:'INR':'symbol'}}</h5>
                <p class="card-text">{{productArrByIdItem.product_discription}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        </div>